<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js" defer></script>
    
  </head>  
  <body>
 <nav>
  <ul id="navbar">
    <li><a href="#welcome-section">Home</a></li>
    <li><a href="#projects">Work</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="https://project-page.glitch.me/"> View More</a></li>
  </ul>
</nav>
    
<div id="welcome-section" class="intro">
    <img id="profilepic" src="https://scontent.fybz2-2.fna.fbcdn.net/v/t1.0-9/48394731_102693577461611_2093564430997520384_n.jpg?_nc_cat=103&_nc_ht=scontent.fybz2-2.fna&oh=947c4b7792bd9e07e98164cc6af868ea&oe=5CFA90E7" alt="project"  height="410" width="410">
  <h1>Hello My Name is Dane O'Brien.</h1>
   <p> I am an full-stack website developer.</p> <p> What do I am mean by full-stack website developer? Being a software engineer at heart, I know it takes more than HTML and CSS to bring the Web to life.
  I care about the whole stack, looking for creatives ways to solve problems and always keep the customer's needs in mind I also look for new ways to improve U.I's and API performances during and after development.</p>
</div>
<div id="projects" class="work-htmlscss">
  <h2 class="work-header">These are some of my projects..</h2>
  
   <a href="https://codepen.io/Lucasob/full/XyoGor" target="_blank" class="project project-tile">
    <img class="project-pic" src="http://clockworkchilli.com/assets/blog/images/blogPost3.jpg" alt="project">
    <div class="project-title">Js Drum Machine</div>
  </a>
  
  <a href="https://codepen.io/Lucasob/full/ZmwKaJ" target="_blank" class="project project-tile">
    <img class="project-pic" src="http://howtocoder.com/img/Random-Quote-Machine.PNG" alt="project">
    <div class="project-title"> Random Quote Machine</div>
  </a>
  <a href="https://s.codepen.io/Lucasob/debug/eLyrNv/LDAmdPOEQJxr" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/S15GBCm/colorful-cartoon-airport-background-with-space-for-your-text-or-logo-seamless-loop-animation-of-airport-traffic-with-many-airplanes-taking-off-and-landing-4k-travel-concept_ryub9c___F0008.png" alt="project">
    <div class="project-title">Product Landing Page</div>
  </a>
  <a href="https://s.codepen.io/Lucasob/debug/EemRJE/NQMzYqoBejZk" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://previews.123rf.com/images/lineartestpilot/lineartestpilot1802/lineartestpilot180277935/95661891-happy-cartoon-man-taking-survey-isolated-on-white-background.jpg" alt="project">
    <div class="project-title">Survey Form</div>
  </a>
    <a href="https://ribbon-ceiling.glitch.me" target="_blank" class="project project-tile">
    <img class="project-pic" src="https://www.inchcalculator.com/wp-content/plugins/uber-calc/assets/img/conversion/scale.png" alt = "project">
    <div class="project-title">Node.js Metric Imperial Converter</div>
  </a>
  
    </div>
<!--- The contact code-->
  <div id="contact" class="contact">
    <div class="header">
      <h1>Let's work together...</h1>
      <p>How do you take your coffee?</p>
    </div>
    <a href="https://www.facebook.com/dane.obrien.9277" target="_blank" class="contact-details">Facebook</a>
    <a id="profile-link" href="https://github.com/Daneob" target="_blank" class="contact-details">GitHub</a>
    <a href="mailto:danelucasobrien@gmail.com" class="contact-details">Gmail</a>
    <a href="tel:226-821-3138" class="contact-details">Call me</a>
  </div>
  <footer>** All the projects and contact details given are real..
    <p>&copy; Created and Designed by Dane O'Brien </p>
  </footer>
   
  </body>
</html>